/* My Typography */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:link,
a:visited,
a:active a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 1;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1;
}

ul,
li {
  padding: 0;
  margin: 0;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* My Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Nunito', serif;
}

p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
}

.header {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.header::before {
  display: none;
  position: absolute;
  inset: 0;
  content: '';
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25) 10%,
      transparent
    ),
    linear-gradient(to left, rgba(0, 0, 0, 0.25) 10%, transparent),
    url('./../img/home/8.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* .header::after {
  content: '';
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.25) 10%,
      transparent
    ),
    linear-gradient(to left, rgba(0, 0, 0, 0.25) 10%, transparent);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  pointer-events: none;
} */

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav {
    padding: 2.5rem 0;
  }
}

.navbar > .container-fluid > .navbar-brand > img {
  height: 35px;
  opacity: 0.85;
  transition: opacity 0.25s ease-in-out;
}

.navbar > .container-fluid > .navbar-brand > img:hover {
  opacity: 1;
}

.navbar-expand-lg .navbar-nav {
  gap: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.2rem;
  line-height: 1.25;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.container-fluid .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.85);
  filter: invert(100%);
}

/* Hero */
.header__hero {
  position: absolute;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.header__hero-content {
  display: block;
  width: 45%;
  margin-left: auto;
}

@media (max-width: 768px) {
  .header::before {
    display: block;
  }
  .slider {
    display: none;
  }
  .header__hero {
    top: auto;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__hero-content-wrapper {
    background: linear-gradient(
        to bottom,
        #ffffffbd 0%,
        #ffffffe3 40%,
        #ccccccb8 150%
      ),
      linear-gradient(
        to top,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.25) 200%
      );
    background-blend-mode: lighten;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
  .header__hero-content {
    width: 100%;
    margin-inline: auto;
  }
}

/* Gallery */
.bg-dark--gradient {
  /* background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply; */
  /* background: linear-gradient(
      to bottom,
      #160039fc 0%,
      #160323f5 40%,
      #010016c9 150%
    ),
    linear-gradient(to top, rgb(207 186 208) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply; */
  /* background-image: linear-gradient(15deg, #09203f 0%, #537895 100%); */
  /* background-image: linear-gradient(15deg, #1e3435ed 0%, #6c757d 100%); */
  /* background-image: linear-gradient(15deg, #1e3435ed 0%, #464e56 100%); */
  background-image: linear-gradient(15deg, #3d3e43 0%, #2a455be0 100%);
}

.bg-light--gradient {
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
  /* background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  ); */
}

/* Carousels */
/* Header Slider */
.carousel-inner img {
  height: calc(100vh - 0px); /* Maximum viewport height */
  object-fit: cover; /* Crop excess instead of stretching */
  object-position: top;
}
/* Feedback carousel */
.carousel-item--height {
  min-height: 322px;
}
.carousel-control--width {
  width: 8% !important;
}

/* Icons */
svg.fa-4x {
  height: 4rem;
}

/* Typography */
h3 {
  line-height: 1.5;
}

.benefit-card p {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Social Media */
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.social-media-icon {
  display: flex;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}

.social-media-icon-img {
  display: block;
  width: 100%;
}

/* Contact Form */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
